/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#inputCard {
  width: 48%;
  float: left;
}

#inputCard button {
  width: 50%;
  margin: 10px;
  align-self: center;
}

#inputCard textarea {
  width: 100%;
}

#postsCard {
  width: 50%;
  float: inline-end;
}
